%h1 All movies by (#{@movie.director})

%table#director_movies
  %thead
    %tr
      %th Title
      %th Rating
      %th Director
      %th Release
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.director
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)
 
= link_to 'Main page', movies_path
